@page "/"
@using WeDriveRental.Domain.Models
@using WeDriveRental.Repositories

@inject WeDriveRentalRepository repo;

<PageTitle>Welcome!</PageTitle>

<h1>Welcome</h1>

<style>
	body {
		background-image: url('/Images/WeDriveRentalImage.jpg'); /* Specify the path to your image */
		background-size: 100%; /* Adjust the background size as needed */
		background-repeat: no-repeat; /* Prevent the background from repeating */

	}
</style>

@code{

	private List<CarModel>? cars;
	private List<BookingModel>? bookings;

	public CarModel NewCar { get; set; } = new();
	public BookingModel NewBooking { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			cars = await repo.GetAllCarsAsync();
			
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error fetching cars: {ex.Message}");
		}
	}

}