@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveAuto

<PageTitle>Admin Dashboard</PageTitle>

<h1>Admin Dashboard</h1>

@code {

}
